<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="angular.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="principal.css" >


    
    
</head>


<body ng-app="Hackaton" ng-controller="ResumenController" style="margin:10px" >
 
        <div class="container" >
                <div class="row header">
                  <div class="col-xm-2">
                        <a role="link" region="Superior" parent="Bienvenida" title="Bienvenida" href="/Mobile" deluminate_imagetype="unknown"><img class="img-fluid" src="/img/icon.png"></img></a>   
                  </div>
                  <div class="col-xm-2">
                        <a role="link" region="Superior" parent="Bienvenida" title="Bienvenida" href="/Mobile"  deluminate_imagetype="unknown"><img class="img-fluid" src="/img/esika.png"></img></a>
                 
                    </div>
                </div>

              
                <div class="row">
                        <div class="col-xm-12">
                           <img class="img-fluid" src="/img/homemenu1.png"></img>
                        </div>
                </div>

                <div class="row">
                                <div class="col-xm-12">
                                 <h1>Resumen</h1>
                                </div>
                               
                </div>

                <hr/>

                <div class="row">
                                <div class="col-xm-12">
                                 <h5>Regalos Richard</h5>
                                </div>
                               
                </div>

                <div class="container" style="overflow-x:auto">
                                <div class="row" style="width: 1200px">
                                      
                                        <div  class="col-xs-1" style="padding-left: 15px" ng-repeat="y in products">
                                            <div ng-if="y.codigo_marca=='L'"><strong>L´Bel</strong></div> 
                                            <img ng-src="{{y.imagenx}}" class="img-thumbnail" style="height:100px;" onerror="this.src='/img/error-image-generic.png'"></img>
                                           <div ng-if="y.codigo_marca=='E'"><strong>Esika</strong></div> 
                                           <div ng-if="y.codigo_marca=='C'"><strong>Cyzone</strong></div> 
                                           <div>{{y.nombre_comercial.substr(0,10)}}</div>
                                           <div>S/.{{y.precio_catalogo}}</div>
                                           <div class="text-center">
                                           <button class="btn btn-default text-center" id="addButon" style="background-color: black;color:white">Agregar</button>
                                           </div>
                                        
                                         </div>
                             
                                </div>
                </div>

                

               
                
               
       </div>
</body>
</html>