<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="angular.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="principal.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    
</head>


<body ng-app="Hackaton" ng-controller="SelectionController" >
 
        <div class="container" >
                <a href="#" class="float">
                        <i ng-click="goToResumen()" class="fa fa-shopping-cart my-float" style="line-height: 2;font-size: 30px" title="Agregar a Tu Navidad"></i>
                        </a>
                <div class="row header">
                  <div class="col-xm-2">
                        <a role="link" region="Superior" parent="Bienvenida" title="Bienvenida" href="/Mobile" deluminate_imagetype="unknown"><img class="img-fluid" src="/img/icon.png"></img></a>   
                  </div>
                  <div class="col-xm-2">
                        <a role="link" region="Superior" parent="Bienvenida" title="Bienvenida" href="/Mobile"  deluminate_imagetype="unknown"><img class="img-fluid" src="/img/esika.png"></img></a>
                 
                    </div>
                </div>

                <div style="overflow: auto;height:400px;">
                <div class="row">
                      
                        <div ng-repeat="x in products" class="col-xs-4" style="padding-left: 15px">
                            <div ng-if="x.codigo_marca=='L'"><strong>L´Bel</strong></div> 
                            <img ng-src="{{x.imagenx}}" class="img-thumbnail" style="height:100px;" onerror="this.src='/img/error-image-generic.png'"></img>
                           <div ng-if="x.codigo_marca=='E'"><strong>Esika</strong></div> 
                           <div ng-if="x.codigo_marca=='C'"><strong>Cyzone</strong></div> 
                           <div>{{x.nombre_comercial.substr(0,10)}}</div>
                           <div class="text-center">
                           <button id="addButon" class="btn btn-default text-center" style="background-color: black;color:white">Agregar</button>
                           </div>
                        
                         </div>
             
                </div>
            </div>

               
                <div class="text-center" style="margin-top:50px">
                 <button class="btn btn-default" style="background-color:#D21194;color: white" ng-click="goToSelect()">Personaliza tu Regalo</button>
              
                </div>

               
                
               
       </div>
</body>
<style>
    .float{
	position: absolute;
    top:60px;
	width:60px;
	height:60px;
	right:10px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    opacity: 0.3;
}
.float:hover{
    opacity: 1;   
}

.my-float{
	margin-top:0px;
}


#addButon:hover{
        background:gray;
}

</style>
</style>
</html>